%h1 Ian Hirschfeld

.bio
  .headshot
  %p
    %strong Heyo!
    %br>
    I'm a developer, animator, and entrepreneur living in San Francisco, CA. I believe everyone should experience at least one piece of art that changes them for the better. A few of mine are:
    = succeed ',' do
      %em
        %a{href: 'http://www.amazon.com/The-Neverending-Story-Michael-Ende/dp/0140386335/ref=sr_1_1?ie=UTF8&qid=1413967557&sr=8-1&keywords=the+neverending+story', target: '_blank'} The Neverending Story
    = succeed ',' do
      %em
        %a{href: 'http://www.amazon.com/Toy-Story-1-3-Box-Blu-ray/dp/B0042FZOFU/ref=sr_1_3?ie=UTF8&qid=1413967592&sr=8-3&keywords=toy+story', target: '_blank'} Toy Story
    and
    = succeed '.' do
      %em
        %a{href: 'http://www.amazon.com/gp/search/ref=a9_asi_1?rh=i%3Avideogames%2Cn%3A468642%2Ck%3Amass+effect+trilogy&keywords=mass+effect+trilogy&ie=UTF8&qid=1413967687', target: '_blank'} Mass Effect
    %br>
    %br>
    I'm currently working as the technical director at
    = succeed '.' do
      %a{href: 'http://www.thesoapcollective.com', target: '_blank'}
        %strong> The Soap Collective
    Our latest project is a group storytelling game called
    = succeed '.' do
      %a{href: 'http://www.roleapp.com', target: '_blank'}
        %strong> Role

-#.blog
-#  %h2 Read More On
-#  %a.btn-blog{href: '#'} My Blog

%ul
  %li>
    %a.icon-twitter-circled.social-icon{href: 'https://twitter.com/ianhirschfeld', target: '_blank'}>
  %li>
    %a.icon-facebook-circled.social-icon{href: 'https://facebook.com/ian.hirschfeld', target: '_blank'}>
  %li>
    %a.icon-github-circled.social-icon{href: 'https://github.com/ianhirschfeld', target: '_blank'}>
